# See /usr/share/postfix/main.cf.dist for a commented, more complete version.
{{ ansible_managed | comment }}

# The first line of /etc/mailname is used as the origin for locally generated mail.
myorigin = /etc/mailname
myhostname = {{ anro_nagios_server_name }}
mydestination = $myhostname, localhost.localdomain, localhost

smtpd_banner = $myhostname ESMTP $mail_name (Ubuntu)
biff = no
append_dot_mydomain = no
readme_directory = no

# TLS parameters use Ubuntu's packaged snakeoil certificate by default. Override
# Postfix itself outside this role when a site-specific SMTP listener is required.
smtpd_tls_cert_file = /etc/ssl/certs/ssl-cert-snakeoil.pem
smtpd_tls_key_file = /etc/ssl/private/ssl-cert-snakeoil.key
smtpd_tls_security_level = may
smtp_tls_CApath = /etc/ssl/certs
smtp_tls_security_level = may
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache

smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated defer_unauth_destination
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
relayhost = {{ anro_nagios_postfix_relayhost }}
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = {{ anro_nagios_postfix_inet_interfaces }}
inet_protocols = all
