{{ ansible_managed | comment }}
<VirtualHost *:80>
    ServerName {{ anro_nagios_server_name }}
    ServerAdmin {{ anro_nagios_apache_server_admin }}
    DocumentRoot /var/www/html
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    RewriteEngine On
    RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ anro_nagios_server_name }}
    ServerAdmin {{ anro_nagios_apache_server_admin }}
    DocumentRoot /var/www/html

    SSLEngine On
    # Rely on Ubuntu/OpenSSL cipher policy while explicitly rejecting obsolete
    # protocol versions. The certificate file should include intermediates.
    SSLProtocol all -SSLv3 -TLSv1 -TLSv1.1
    SSLCertificateKeyFile {{ anro_nagios_certificate_key_file }}
    SSLCertificateFile {{ anro_nagios_certificate_file }}

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
    RedirectMatch 301 ^/$ /nagios
</VirtualHost>
