{{ ansible_managed | comment }}
{% set cpu_count = ansible_facts.processor_vcpus | float %}
{% set load_warning = (cpu_count * anro_nagios_local_load_warning_multiplier | float) | round(2) %}
{% set load_critical = (cpu_count * anro_nagios_local_load_critical_multiplier | float) | round(2) %}

define host {
    use                     linux-server
    host_name               {{ anro_nagios_localhost_host_name }}
    alias                   {{ anro_nagios_localhost_alias }}
    address                 {{ anro_nagios_localhost_address }}
}

define hostgroup {
    hostgroup_name          {{ anro_nagios_localhost_hostgroup }}
    alias                   {{ anro_nagios_localhost_hostgroup }}
    members                 {{ anro_nagios_localhost_host_name }}
}

{% for service in anro_nagios_local_services %}
define service {
    use                     {{ service.use | default('local-service') }}
    host_name               {{ anro_nagios_localhost_host_name }}
    service_description     {{ service.service_description }}
{% if service.auto_load | default(false) | bool %}
    check_command           check_local_load!{{ load_warning }},{{ load_warning }},{{ load_warning }}!{{ load_critical }},{{ load_critical }},{{ load_critical }}
{% else %}
    check_command           {{ service.check_command }}
{% endif %}
{% for key, value in service.options | default({}) | dictsort %}
    {{ "%-24s" | format(key) }} {{ value }}
{% endfor %}
}

{% endfor %}
