{{ ansible_managed | comment }}

{% for key, value in _anro_nagios_cfg.items() %}
{% if key == "cfg_dir" %}
{% for line in value %}
{{ key }}={{ line }}
{% endfor %}
{% else %}
{{ key }}={{ value }}
{% endif %}
{% endfor %}