{{ ansible_managed | comment }}

{% if _anro_nagios_commands is defined and
      _anro_nagios_commands | length > 0 %}
{% for command in _anro_nagios_commands %}
define command {
{% for key, value in command.items() %}
    {{ "%-30s"|format(key) }} {{ value }}
{% endfor %}
}
{% endfor %}

{% endif %}