{{ ansible_managed | comment }}

{% if _anro_nagios_contacts is defined and
      _anro_nagios_contacts | length > 0 %}
{% for contact in _anro_nagios_contacts %}
define contact {
{% for key, value in contact.items() %}
    {{ "%-30s"|format(key) }} {{ value }}
{% endfor %}
}
{% endfor %}

{% endif %}

{% if _anro_nagios_contactgroups is defined and
      _anro_nagios_contactgroups | length > 0 %}
{% for contactgroup in _anro_nagios_contactgroups %}
define contactgroup {
{% for key, value in contactgroup.items() %}
    {{ "%-30s"|format(key) }} {{ value }}
{% endfor %}
}
{% endfor %}

{% endif %}