{{ ansible_managed | comment }}

{# Host Template Definitions #}
{% if _anro_nagios_templates_host is defined and
      _anro_nagios_templates_host | length > 0 %}
# BEGIN HOST TEMPLATES
{% for host in _anro_nagios_templates_host %}
define host {

{% for key, value in host.items() %}
    {{ "%-30s"|format(key) }} {{ value }}
{% endfor %}

}

{% endfor %}
# END HOST TEMPLATES
{% endif %}

{# Service Template Definitions #}
{% if _anro_nagios_templates_service is defined and
      _anro_nagios_templates_service | length > 0 %}
# BEGIN SERVICE TEMPLATES
{% for service in _anro_nagios_templates_service %}
define service {

{% for key, value in service.items() %}
    {{ "%-30s"|format(key) }} {{ value }}
{% endfor %}

}

{% endfor %}
# END SERVICE TEMPLATES
{% endif %}

{# Contact Template Definitions #}
{% if _anro_nagios_templates_contact is defined and
      _anro_nagios_templates_contact | length > 0 %}
# BEGIN CONTACT TEMPLATES
{% for contact in _anro_nagios_templates_contact %}

define contact {

{% for key, value in contact.items() %}
    {{ "%-30s"|format(key) }} {{ value }}
{% endfor %}

}

{% endfor %}
# END CONTACT TEMPLATES
{% endif %}

{# Contact Group Template Definitions #}
{% if _anro_nagios_templates_contactgroup is defined and
      _anro_nagios_templates_contactgroup | length > 0 %}
# BEGIN CONTACT GROUP TEMPLATES
{% for contactgroup in _anro_nagios_templates_contactgroup %}
define contactgroup {

{% for key, value in contactgroup.items() %}
    {{ "%-30s"|format(key) }} {{ value }}
{% endfor %}

}

{% endfor %}
# END CONTACT GROUP TEMPLATES

{% endif %}
