{{ ansible_managed | comment }}

{# Host Template Definitions #}
{% if _anro_nagios_templates_host is defined and
      _anro_nagios_templates_host | length > 0 %}
{% for host in _anro_nagios_templates_host %}
# HOST TEMPLATES
define host {

{% for key, value in host.items() %}
    {{ "%-30s"|format(key) }} {{ value }}
{% endfor %}

}

{% endfor %}

{% endif %}

{# Service Template Definitions #}
{% if _anro_nagios_templates_service is defined and
      _anro_nagios_templates_service | length > 0 %}
{% for service in _anro_nagios_templates_service %}
# SERVICE TEMPLATES
define service {

{% for key, value in service.items() %}
    {{ "%-30s"|format(key) }} {{ value }}
{% endfor %}

}

{% endfor %}

{% endif %}

{# Contact Template Definitions #}
{% if _anro_nagios_templates_contact is defined and
      _anro_nagios_templates_contact | length > 0 %}
{% for contact in _anro_nagios_templates_contact %}
# CONTACT TEMPLATES
define contact {

{% for key, value in contact.items() %}
    {{ "%-30s"|format(key) }} {{ value }}
{% endfor %}

}

{% endfor %}

{% endif %}

{# Contact Group Template Definitions #}
{% if _anro_nagios_templates_contactgroup is defined and
      _anro_nagios_templates_contactgroup | length > 0 %}
{% for contactgroup in _anro_nagios_templates_contactgroup %}
# CONTACTGROUP TEMPLATES
define contact {

{% for key, value in contactgroup.items() %}
    {{ "%-30s"|format(key) }} {{ value }}
{% endfor %}

}

{% endfor %}

{% endif %}
