{{ ansible_managed | comment }}

{% if _anro_nagios_templates_timeperiod is defined and
      _anro_nagios_templates_timeperiod | length > 0 %}
{% for period in _anro_nagios_templates_timeperiod %}
define timeperiod {
{% for key, value in period.items() %}
    {{ "%-30s"|format(key) }} {{ value }}
{% endfor %}
}
{% endfor %}

{% endif %}